{% extends 'templates/dash_app.twig' %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/buttons.bootstrap4.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min_def.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/iziModal.min_def.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/izi-modal.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-confirm.min_def.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-confirm.min.css') }}">
{% endblock %}

{% block content %}
<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs">
	<div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title-and-subtitle">
                <div class="ks-title-block">
                    <h3 class="ks-main-title">Customer</h3>
                    <div class="ks-sub-title">Daftar customer / member</div>
                </div>
                <!-- <button class="btn btn-primary-outline ks-solid ks-izi-modal-trigger" data-target="#q-tambah">
                    Tambah
                </button> -->
            </section>
        </div>
	    <div class="ks-page-content">
	    	<div class="ks-page-content-body">
	            <div class="ks-dashboard-tabbed-sidebar">
	                <div class="ks-dashboard-tabbed-sidebar-widgets">
	                	<div class="ks-nav-body">
		                    <div class="ks-nav-body-wrapper">
		                        <div class="container-fluid">
		                            <table id="cust-datatable" class="table table-striped table-bordered" width="100%">
				                        <thead>
				                        <tr>
				                            <th data-field="id" data-sortable="true">Id</th>
				                            <th data-field="Customer" data-sortable="true">Nama Customer</th>
				                            <th data-field="Phone1" data-sortable="true">No. Telepon 1</th>
				                            <th data-field="Phone2" data-sortable="true">No. Telepon 2</th>
				                            <th data-field="Status" data-sortable="true">Status</th>
				                        </tr>
				                        </thead>
				                        
				                        <tbody id="custTable">
										{% for row in allCustomer %}
				                        <tr>
				                            <td>{{ row.id }}</td>
				                            <td>{{ row.nama }}</td>
				                            <td>{{ row.phone1 }}</td>
				                            <td>{{ row.phone2 }}</td>
				                            <td>
				                            	{% if row.status == 1 %}
				                                    <span class="badge badge-mantis">Aktif</span>
				                                {% else %}
				                                   	<span class="badge badge-danger">Tidak Aktif</span>
				                                {% endif %}
				                            </td>
				                        </tr>
				                        
				                        {% endfor %}
				                        </tbody>
				                    </table>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>    
	    </div>
	</div>
</div>
<div id="q-edit"
     class="ks-izi-modal"
     data-iziModal-title="Master Customer"
     data-iziModal-subtitle="Edit data Master Customer"
     data-iziModal-icon="la la-edit"
     data-iziModal-padding="20"
     data-iziModal-autoopen="false"
     data-iziModal-headercolor="#25628f">
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/response.min.js') }}"></script>
<script src="{{ asset('js/loadingoverlay.min.js') }}"></script>
<script src="{{ asset('js/tether.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
<script src="{{ asset('js/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('js/flexibility.js') }}"></script>
<script src="{{ asset('js/common.min.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('js/jszip.min.js') }}"></script>
<script src="{{ asset('js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('js/select2.min.js') }}"></script>
<script src="{{ asset('js/iziModal.min.js') }}"></script>
<script src="{{ asset('js/jquery-confirm.min.js') }}"></script>

<script type="application/javascript">
(function ($) {
    $(document).ready(function() {

		var table = $('#cust-datatable').DataTable({
	        lengthChange: false,
	        "order": [[ 1, "asc" ]],
	        buttons: [
	            'copyHtml5',
	            'excelHtml5'
	        ],
	        columnDefs: [
	            { width: "55%", targets: 1 },
	            { width: "20%", targets: 2 },
	            { width: "20%", targets: 3 },
	            { width: "5%", targets: 4 },
	            {
	                "targets": [ 0 ],
	                "visible": false,
	                "searchable": false
	            },
	        ],
	        initComplete: function () {
	            $('.dataTables_wrapper select').select2({
	                minimumResultsForSearch: Infinity
	            });
	        }
	    });    
	    table.buttons().container().appendTo( '#cust-datatable_wrapper .col-md-6:eq(0)' );

	    $('#custTable').on('dblclick', 'tr', function () {
            var data = table.row(this).data();
            
            $('#q-edit').iziModal('open');
            $.ajax({
                type: "GET",
                url: "customer/"+data[0],
                crossDomain: true,
                success: function(response) {
                    //console.error(JSON.stringify(response));
                    $('#q-edit .iziModal-content').html(response);
                    $('#q-edit').iziModal('open');
                },
                error: function() {
                    console.log(response);
                }
            });
        });
        $('#q-edit').iziModal({
            width: 1000,
        });

	});
})(jQuery);
</script>

{% endblock %}