<form id="editUnit"> 
    <div class="row">
        <div class="col-lg-6 ks-panels-column-section">
            <div class="card" style="border:0px">
                <div class="card-block">
                    <h5 class="card-title">Data Unit Accu</h5>
                    <div class="col-sm-12 row" style="margin-bottom: 15px;">
                        <div class="col-sm-4">
                            <p class="form-control-static">Merk / Brand</p>
                        </div>
                        <div class="col-sm-8 formgroup">
                            <select class="form-control ks-select" style="width: 100%;" id="umerk" name="umerk">
                                <optgroup label="Merk Accu">
                             
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:0px; margin-top:0px;">
                        <div class="col-sm-4">
                            <p class="form-control-static">Kode Unit</p>
                        </div>
                        <div class="col-sm-8">
                            <fieldset id="fsKodeUnit" class="form-group">
                            <input class="form-control required" id="ukode" name="ukode" placeholder="Kode Unit" type="text" maxlength="15" value="{{ unit.kode }}">
                            <small class="form-text text-muted"></small>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:15px; margin-top:0px;">
                        <div class="col-sm-4">
                            <p class="form-control-static">Type</p>
                        </div>
                        <div class="col-sm-8 formgroup">
                            <select class="form-control ks-select" style="width: 100%;" id="utype" name="utype">
                                <optgroup label="Type Accu">
                                {% for rowtype in allType %}
                                    <option value="{{ rowtype.id }}">{{ rowtype.nama }}</option>
                                {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:0px; margin-top:0px;">
                        <div class="col-sm-4">
                            <p class="form-control-static">Harga</p>
                        </div>
                        <div class="col-sm-8">
                            <fieldset id="fsHarga" class="form-group">
                            <input class="form-control required" id="uharga" name="uharga" placeholder="Harga" type="text" maxlength="15" value="{{ unit.harga | number_format("2", ",", ".") }}">
                            <small class="form-text text-muted"></small>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:0px; margin-top:0px;">
                    <div class="col-sm-4">
                        <p class="form-control-static">Detail Produk</p>
                    </div>
                        <div class="col-sm-8">
                            <fieldset id="fsDetail" class="form-group">
                            <textarea class="form-control required" id="udetail" name="udetail" placeholder="Detail Produk">{{ unit.deskripsi }}</textarea>
                            <small class="form-text text-muted"></small>
                            </fieldset>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <div class="col-lg-6 ks-panels-column-section">
        <div class="card-block">
            <h5 class="card-title">Options</h5>
            <div class="col-sm-12 row" style="margin-top: 0px;">
                <div class="col-sm-4">
                    <p class="form-control-static">Status Aktif</p>
                </div>
                <div class="col-sm-8">
                    <label class="ks-checkbox-slider ks-on-off ks-solid ks-primary">
                        <input id ="statusActive" name="statusActive" type="hidden" value="{{ unit.status }}">
                        <input id="checkonoff" name="checkonoff" {{ unit.status == "1" ? ' checked' : '' }} type="checkbox">
                            <span class="ks-indicator"></span>
                            <span class="ks-on">ON</span>
                            <span class="ks-off">OFF</span>
                    </label>
                    <input name="uid" value="{{ unit.id }}" type="hidden">
                    {{ csrf.field | raw }}
                </div>
            </div>
            <div class="col-sm-12 row" style="text-align: right;">
                <div class="ks-item-block">
                    <button class="btn btn-success simpan">Simpan</button>
                    <button class="btn btn-danger" data-izimodal-close="" data-izimodal-transitionout="flipOutX">Keluar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>