{% extends 'templates/dash_app.twig' %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min_def.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/iziModal.min_def.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/izi-modal.min.css') }}">
{% endblock %}
{% block content %}
<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs">
    
<div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title-and-subtitle">
                <div class="ks-title-block">
                    <h3 class="ks-main-title">Banner Website</h3>
                    <div class="ks-sub-title">Daftar Banner untuk Promosi dan Produk di Website</div>
                </div>
                <button class="btn btn-primary-outline ks-solid ks-izi-modal-trigger" data-target="#q-main">
                    Tambah
                </button>
            </section>
        </div>

<div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="ks-dashboard-tabbed-sidebar">
                    <div class="ks-dashboard-tabbed-sidebar-widgets">
 

                <div class="ks-nav-body">
                    <div class="ks-nav-body-wrapper">
                        <div class="container-fluid">
                            <table id="ks-datatable" class="table table-striped table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="thumb" class="col-xs-1">Thumbnail</th>
                            <th data-field="identifier" data-sortable="true" class="col-xs-3">Nama</th>
                            <th data-field="position" data-sortable="true" class="col-xs-3">Posisi</th>
                            <th data-field="status" data-sortable="true" class="col-xs-1">Status</th>
                        </tr>
                        </thead>
                        
                        <tbody id="dTable">
                        {% for row in allBanner %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td><img src="{{ asset('img/banner')}}/{{ row.path }}" width="90" height="40"></td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.position.name }}</td>
                            <td>
                            	{% if row.status == 1 %}
                                    <span class="badge badge-mantis">Aktif</span>
                                {% else %}
                                   	<span class="badge badge-crusta">Tidak Aktif</span>
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% endfor %}
                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
					
<div id="ks-izi-modal-basic"
     class="ks-izi-modal"
     data-iziModal-fullscreen="true"
     data-iziModal-title="Detail Order"
     data-iziModal-subtitle="Konfirmasi atau Pembatalan Order Customer"
     data-iziModal-icon="la la-shopping-cart"
     data-iziModal-padding="20"
     data-iziModal-autoopen="false"
     data-iziModal-headercolor="#3a529b">
</div>
<div id="ks-izi-modal-alert"></div>
{% endblock %}		
{% block scripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/response.min.js') }}"></script>
<script src="{{ asset('js/loadingoverlay.min.js') }}"></script>
<script src="{{ asset('js/tether.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
<script src="{{ asset('js/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('js/flexibility.js') }}"></script>
<script src="{{ asset('js/common.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>


<script src="{{ asset('js/select2.min.js') }}"></script>
<script src="{{ asset('js/iziModal.min.js') }}"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        var table = $('#ks-datatable').DataTable({
            lengthChange: false,
            "order": [[ 0, "desc" ]],
            columnDefs: [
                { width: "10%", targets: 1 },
                { width: "65%", targets: 2 },
                { width: "20%", targets: 3 },
                { width: "5%", targets: 4 },
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
            ],
            initComplete: function () {
                $('.dataTables_wrapper select').select2({
                    minimumResultsForSearch: Infinity
                });
            }
        });

        table.buttons().container().appendTo( '#ks-datatable_wrapper .col-md-6:eq(0)' );
        $('#ks-izi-modal-basic').iziModal({
            width: 1000
        });
        $('#dTable').on('dblclick', 'tr', function () {
            var data = table.row( this ).data();
            $.ajax({
                type: "GET",
                url: "orders/"+data[0],
                crossDomain: true,
                success: function(response) {
                    $("#ks-izi-modal-basic .iziModal-content").html(response);
                    $('#ks-izi-modal-basic').iziModal('open');
                },
                error: function() {
                    console.log(response);
                }
            });
        });
        $("#ks-izi-modal-alert").iziModal({
            title: "Order berhasil dikonfirmasi!",
            icon: 'la la-check',
            headerColor: '#00af66',
            width: 600,
            timeout: 1000,
            timeoutProgressbar: true,
            transitionIn: 'fadeInUp',
            transitionOut: 'fadeOutDown',
            attached: 'top',
            pauseOnHover: true,
            autoOpen: false
        });
    
        
    });

})(jQuery);
</script>


{% endblock %}