{% extends 'templates/front.twig' %}
{% block content %}
<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="{{ path_for('home') }}">Home</a><span>&raquo;</span></li>
            <li><strong>Ubah Password</strong></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<section class="main-container col1-layout">
    <div class="main container">              
        <div class="page-content">     
        <form action="{{ path_for('member.profile.password') }}" method="post">     
            <div class="account-login">                     
              <div class="box-authentication">
                <h4>Ubah Password Anda</h4>
                <p class="before-login-text">Lakukan perubahan password secara berkala untuk keamanan akun Anda!</p>
                {% include 'templates/partials/customalert.twig' %}
                <div class="form-group {{ error.oldpassword ? ' has-error' : '' }}">
                  <label for="oldpassword">Password Lama<span class="required">*</span></label>
                  <input id="oldpassword" name="oldpassword" type="password" class="form-control"><span class="help-block">{{ error.oldpassword }}</span>
                </div>
                <div class="form-group {{ error.newpassword ? ' has-error' : '' }}">
                  <label for="newpassword">Password Baru<span class="required">*</span></label>
                  <input id="newpassword" name="newpassword" type="password" class="form-control"><span class="help-block">{{ error.newpassword }}</span>
                </div>
                <div class="form-group {{ error.verifypassword ? ' has-error' : '' }}">
                  <label for="verifypassword">Verifikasi Password<span class="required">*</span></label>
                  <input id="verifypassword" name="verifypassword" type="password" class="form-control"><span class="help-block">{{ error.verifypassword }}</span>
                </div>
                {{ csrf.field |raw }}
                <button class="button"><i class="fa fa-lock"></i>&nbsp; <span>Proses</span></button>
              </div>
    
        	</div>
        </form>
        </div>
    </div>
</section>
<div class="jtv-service-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-truck flip-horizontal"></i> </div>
            <div class="service-content">
              <h5>FREE SHIPPING WORLDWIDE </h5>
              <p>free ship-on oder over $299.00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-mail-forward"></i> </div>
            <div class="service-content">
              <h5>MONEY BACK GUARATEE! </h5>
              <p>30 days money back guarantee!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-comments flip-horizontal"></i> </div>
            <div class="service-content">
              <h5>24/7 CUSTOMER SERVICE </h5>
              <p>We support online 24 hours a day</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}