<form id="editMerk"> 
<div class="row">
    <div class="col-lg-12 ks-panels-column-section">
        <div class="card" style="border:0px">
            <div class="card-block">
                <h5 class="card-title">Data Accu</h5>
                <div class="col-sm-12 row">
                    <div class="col-sm-4">
                        <p class="form-control-static">Merk / Brand</p>
                    </div>
                        <div class="col-sm-8">
                            <fieldset id="fsUbahMerk" class="form-group">
                            <input class="form-control requireds" id="nama" name="nama" placeholder="Merk/Brand" type="text" maxlength="25" value="{{ old.nama ? old.nama : merk.nama }}">
                            </fieldset>
                    </div>
                </div>
                <div class="col-sm-12 row" style="margin-top: 0px;">
                    <div class="col-sm-4">
                        <p class="form-control-static">Status Aktif</p>
                    </div>
                    <div class="col-sm-8">
                        <label class="ks-checkbox-slider ks-on-off ks-solid ks-primary">
                            <input id ="statusAktif" name="statusAktif" type="hidden" value="{{ merk.status }}">
                            <input id="checkOnOff" name="checkOnOff"  type="checkbox" {{ merk.status == "1" ? ' checked' : '' }}>
                                <span class="ks-indicator"></span>
                                <span class="ks-on">ON</span>
                                <span class="ks-off">OFF</span>
                        </label>
                        <input type="hidden" name="id" value="{{ merk.id }}">
                        {{ csrf.field | raw }}
                    </div>
                </div>
                <div class="col-sm-12 row" style="text-align: right;">
                    <div class="ks-item-block">
                        <button class="btn btn-success" type="submit">Simpan</button>
                        <button class="btn btn-danger" data-izimodal-close="" data-izimodal-transitionout="flipOutX">Keluar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script type="application/javascript">

$('input').each(function(){ 
    $(this).blur(function(){ 
        if (! $(this).val()){
            return get_error_text(this);
        } else {
            $(this).removeClass('form-control-danger'); 
            $(this).closest('div').removeClass('has-danger');
            $(this).closest('div').addClass('has-success');
            $(this).addClass('form-control-success');
        }
    });
});

$('#nama').blur(function(){
    var nama= $(this).val();
    var len= nama.length;
    if(len>0){
        if(!valid_nama(nama)){
            $.alert({
                title: 'Error..',
                type: 'red',
                content: 'Merk tidak Valid!',
            });
            return apply_feedback_error(this);
        } else {
            if (len < 2 ){
                $.alert({
                    title: 'Error..',
                    type: 'red',
                    content: 'Merk harus alphanumerik 2-20 karakter!',
                });
                return apply_feedback_error(this);
            }
        }
    } 
});

$('#editMerk').submit(function(e){
    e.preventDefault();
    var valid=true;     
    $(this).find('.required').each(function(){
        if (! $(this).val()){
            get_error_text(this);
            valid = false;
        } 
        if ($(this).hasClass('form-control-danger')){
            valid = false;
            $.alert({
                title: 'Error..',
                type: 'red',
                content: 'Silahkan lengkapi data yang masih kosong / diperlukan!',
            });
        }
    });
    if (valid){
        $.confirm({
            title: 'Simpan Data',
            content: 'Apakah anda akan meproses data ini?',
            icon: 'la la-question-circle',
            animation: 'scale',
            closeAnimation: 'scale',
            opacity: 0.5,
            type: 'orange',
            buttons: {
                'confirm': {
                    text: 'OK',
                    btnClass: 'btn-info',
                    action: function () {
                        $.ajax({
                            url: "merk/"+{{ merk.id }},
                            type: "POST",
                            data: $('#editMerk').serialize(),
                            dataType: "html",
                            success: function(){                
                                $('#q-main').iziModal('close');
                                $('#q-alert').iziModal('open');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                setTimeout(function(){
                                    $('#q-alert2').iziModal('open');
                                }, 2000);
                            }
                        });
                    }
                },
                cancel: function () {
                }
            }
        });
    }
});

$(document).on('opened', '#q-alert', function (e) {
    window.open('merk', '_self');
});

$(document).on('click','#checkOnOff',function(e){
    if($('#checkOnOff').is(':checked')){
        $('#statusAktif').val('1');
        $('#checkOnOff').attr('checked', true);
    } else {
        $('#statusAktif').val('0');
        $('#checkOnOff').attr('checked', false);
    }
            
});

function valid_nama(nama) {
    var pola = new RegExp(/^[a-z A-Z]+$/);
    return pola.test(nama);
}

function apply_feedback_error(textbox){
    $(textbox).addClass('form-control-danger');
    $(textbox).closest('div').removeClass('has-success');
    $(textbox).closest('div').addClass('has-danger');
}

function get_error_text(textbox){
    return apply_feedback_error(textbox);
}
</script>