{% extends 'templates/front.twig' %}
{% block content %}

  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart">
          {% if basket.all %}
          <div class="page-content page-order"><div class="page-title">
            <h2>Keranjang Belanja</h2>
          </div>
            
            
            <div class="order-detail-content">
              <div class="table-responsive">
                <table class="table table-bordered cart_summary">
                  <thead>
                    <tr>
                      <th class="cart_product">Product</th>
                      <th>Description</th>
                      <th>Avail.</th>
                      <th>Unit price</th>
                      <th>Qty</th>
                      <th>Total</th>
                      <th  class="action"><i class="fa fa-trash-o"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for belanjaan in basket.all %}
                    <tr>
                      <td class="cart_product"><a href="#"><img src="{{ asset('img/front/products/') }}{{ belanjaan.gambar }}" alt="Product"></a></td>
                      <td class="cart_description"><p class="product-name"><a href="#">{{ belanjaan.kode }} </a></p>
                        <small><a href="#">Color : Red</a></small><br>
                        <small><a href="#">Size : M</a></small></td>
                      <td class="availability in-stock"><span class="label">In stock</span></td>
                      <td class="price"><span>{{ belanjaan.harga | number_format('0', ',', '.') }}</span></td>
                      <td class="qty">
                        <form action="{{ path_for('cart.update', {slug: belanjaan.slug }) }}" method="POST" class="form-inline">
                          <select name="quantity" class="form-control input-sm">
                          {% for num in 1..belanjaan.stock %}
                            <option value="{{ num }}" {% if num == belanjaan.quantity %} selected="selected" {% endif %}>{{ num }}</option>
                          {% endfor %}
                            <option value="0">-</option>
                          </select>
                          {{ csrf.field | raw }}
                          <button type="submit"><i class="fa fa-refresh"></i><span> Update</span></button>
                        </form>
                      </td>
                      <td class="price"><span>{{ (belanjaan.quantity * belanjaan.harga) | number_format('0', ',', '.') }}</span></td>
                      <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" rowspan="2"></td>
                      <td colspan="3">Total products (tax incl.)</td>
                      <td colspan="2">$237.88 </td>
                    </tr>
                    <tr>
                      <td colspan="3"><strong>Total</strong></td>
                      <td colspan="2"><strong>{{ basket.subTotal | number_format('0', ',', '.') }} </strong></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="cart_navigation"> <a class="continue-btn" href="#"><i class="fa fa-arrow-left"> </i>&nbsp; Lanjutkan Belanja</a> <a class="checkout-btn" href="#"><i class="fa fa-check"></i> Proses Pembayaran</a> </div>
            </div>
          </div>
          {% else %}
          Keranjang belanja kosong. <a href="{{ path_for('home') }}"><b>Klik disini</b></a> untuk memulai belanja..
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block scripts %}
{% endblock %}