{% extends 'templates/front.twig' %}
{% block content %}

  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart">
          
          <div class="page-content page-order"><div class="page-title">
            <h2>Shopping Cart</h2>
          </div>
            
            
            <div class="order-detail-content">
              <div class="table-responsive">
                <table class="table table-bordered cart_summary">
                  <thead>
                    <tr>
                      <th class="cart_product">Product</th>
                      <th>Description</th>
                      <th>Avail.</th>
                      <th>Unit price</th>
                      <th>Qty</th>
                      <th>Total</th>
                      <th  class="action"><i class="fa fa-trash-o"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for belanjaan in basket.all %}
                    <tr>
                      <td class="cart_product"><a href="#"><img src="{{ asset('img/front/products/') }}{{ belanjaan.gambar }}" alt="Product"></a></td>
                      <td class="cart_description"><p class="product-name"><a href="{{ path_for('produk.detail', {slug: belanjaan.slug}) }}">{{ belanjaan.kode }} </a></p>
                        <small><a href="#">Color : Red</a></small><br>
                        <small><a href="#">Size : M</a></small></td>
                      <td class="availability in-stock"><span class="label">In stock</span></td>
                      <td class="price"><span>{{ belanjaan.harga | number_format('0', ',', '.') }}</span></td>
                      <td class="qty">
                        <form method="post" class="form-inline" action="{{ path_for('home') }}">
                          <select name="quantity" class="form-control input-sm">
                          {% for num in 0..belanjaan.stock %}
                            <option value="{{ num }}" {% if num == belanjaan.quantity %} selected="selected" {% endif %}>{{ num }}</option>
                          {% endfor %}
                            <option value="0">-</option>
                          }
                          }
                          </select>
                          update
                        </form>
                      </td>
                      <td class="price"><span>{{ (belanjaan.quantity * belanjaan.harga) | number_format('0', ',', '.') }}</span></td>
                      <td class="action"><a href="#"><i class="icon-close"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" rowspan="2"></td>
                      <td colspan="3">Total products (tax incl.)</td>
                      <td colspan="2">$237.88 </td>
                    </tr>
                    <tr>
                      <td colspan="3"><strong>Total</strong></td>
                      <td colspan="2"><strong>{{ basket.subTotal | number_format('0', ',', '.') }} </strong></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="cart_navigation"> <a class="continue-btn" href="#"><i class="fa fa-arrow-left"> </i>&nbsp; Continue shopping</a> <a class="checkout-btn" href="#"><i class="fa fa-check"></i> Proceed to checkout</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- service section -->
  
  <div class="jtv-service-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-truck flip-horizontal"></i> </div>
            <div class="service-content">
              <h5>FREE SHIPPING WORLDWIDE </h5>
              <p>free ship-on oder over $299.00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-mail-forward"></i> </div>
            <div class="service-content">
              <h5>MONEY BACK GUARATEE! </h5>
              <p>30 days money back guarantee!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <div class="jtv-service">
            <div class="ser-icon"> <i class="fa fa-comments flip-horizontal"></i> </div>
            <div class="service-content">
              <h5>24/7 CUSTOMER SERVICE </h5>
              <p>We support online 24 hours a day</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}