<div class="ks-navbar-horizontal ks-icons-top ks-info">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ page == "dashboard.home" ? ' active' }}" href="{{ path_for('dashboard.home') }}">
                <span class="ks-icon la la-dashboard"></span>
                <span class="ks-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-database"></span>
                <span class="ks-text">Master</span>
            </a>
            <div class="dropdown-menu ks-info" aria-labelledby="Preview">
                <a class="dropdown-item {{ page == "dashboard.master.merk" ? ' ks-active' }}" href="{{ path_for('dashboard.master.merk') }}">Merk/Brand</a>
                <a class="dropdown-item {{ page == "dashboard.master.unit" ? ' active' }}" href="{{ path_for('dashboard.master.unit') }}">Detail Produk</a>
                <a class="dropdown-item {{ page == "dashboard.master.customer" ? ' active' }}" href="{{ path_for('dashboard.master.customer') }}">Customer</a>
                
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ page == "dashboard.orderlist" ? ' active'  }}" href="{{ path_for('dashboard.orderlist') }}">
                <span class="ks-icon la la-cubes"></span>
                <span class="ks-text">Orders</span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-circle"></span>
                <span class="ks-text">Website</span>
            </a>
            <div class="dropdown-menu ks-info" aria-labelledby="Preview">
                <a class="dropdown-item {{ page == "dashboard.webbanner" ? ' active' }}" href="{{ path_for('dashboard.webbanner') }}">Banner Promo</a>
                <a class="dropdown-item {{ page == "dashboard.webcompany" ? ' active' }}" href="{{ path_for('dashboard.webcompany') }}">Company</a>
            </div>
        </li>

 
    </ul>
</div>